/* ===== FOND MENU ===== */
#background{
  position:absolute;
  inset:0;
  background-image:url("images/Fondmenu.PNG");
  background-size:cover;
  background-position:center;
  z-index:1;
}

/* ===== PIRATES ===== */
.pirate{
  position:absolute;
  z-index:5;
  transition: transform .2s ease, filter .2s ease;
  cursor:pointer;
}

.pirate.unlocked:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 20px gold); /* Faisceau lumineux autour de la forme du pirate */
}

/* Bloqué en gris */
.locked{
  filter: grayscale(100%) brightness(0.6);
  pointer-events: none;
}

/* Débloqué normal */
.unlocked{
  filter:none;
  pointer-events:auto;
}

/* ===== POSITIONS PIRATES ===== */
/* Pirate1 +3% plus haut */
#pirate1{
  left:125px;
  top: calc(658px - 3%);
  width:138px;
  height:255px;
}

/* Pirate2 +0.2% haut / 1% gauche */
#pirate2{
  left: calc(916px - 1%);
  top: calc(697px - 0.2%);
  width:186px;
  height:178px;
}

/* Pirate3 +2% taille */
#pirate3{
  left:736px;
  top:363px;
  width: calc(133px * 1.02);
  height: calc(217px * 1.02);
}

/* Pirate4 prend position Pirate5 et dimension réduite de 5% */
#pirate4{
  left:1139px;
  top:28px;
  width: calc(188px * 0.95);
  height: calc(247px * 0.95);
}

/* Pirate5 prend position Pirate4 et dimension originale de pirate4 */
#pirate5{
  left:240px;
  top:200px;
  width:163px;
  height:235px;
}

/* ===== NOTIFICATION ===== */
#notification{
  position: fixed;
  top: -60px;
  left:50%;
  transform: translateX(-50%);
  background: orange;
  color: white;
  padding: 12px 20px;
  border-radius:12px;
  font-weight:bold;
  display: none;
  z-index:20;
  transition: top 0.6s ease;
}

#notification.slide-down{
  top: 10%;
}

/* ===== BULLE ===== */
#bubble{
  position: absolute;
  width: 320px;
  background: #8B4513;
  color: white;
  padding: 12px 15px;
  border-radius:0px; /* carré */
  display: none;
  z-index:20;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateY(-20px);
}

#bubble.fade-in{
  opacity: 1;
  transform: translateY(0);
}

#bubble button{
  margin-top: 10px;
  padding: 8px 12px;
  background: #5C4033;
  color:white;
  border:2px solid white;
  cursor:pointer;
  transition: transform 0.1s ease;
}

#bubble button:active{
  transform: scale(0.95);
}
